---
interface Props {
  title: string;
  image: string;
  contactHref: string;
  // Make these optional for regular use, but useful for the admin preview
  idPrefix?: string; 
}
const { title, image, contactHref, idPrefix = "" } = Astro.props;
---
<div class="card bg-base-100 shadow-xl flex flex-col pt-4 min-h-[500px]">
  <figure class="px-4">
    <img 
      id={idPrefix ? `${idPrefix}-image` : undefined} 
      src={image} 
      alt={title} 
      class="w-full h-56 object-cover rounded-xl" 
    />
  </figure>
  
  <div class="card-body flex flex-col p-4 flex-grow">
    <h2 
      id={idPrefix ? `${idPrefix}-title` : undefined} 
      class="card-title"
    >
      {title}
    </h2>
    
    <div 
      id={idPrefix ? `${idPrefix}-body` : undefined} 
      class="text-base-content/80 text-sm flex-grow prose prose-sm whitespace-pre-wrap min-h-[60px]"
    >
      <slot />
    </div>

    <div class="card-actions justify-start mt-auto flex-none">
      <a href={contactHref} class="btn btn-neutral w-full">
        Contact us and Request a Quote
      </a>
    </div>
  </div>
</div>